<h2>Your Dashboard</h2>
{{#if posts.length}}
<section>
    {{#each posts as |post|}}
    {{/each}}
</section>
{{/if}}

<button type="submit" class="btn">+ New Post</button>

<script src="../public/js/new-post.js"></script>
