<h2>Your Dashboard</h2>
{{#if posts.length}}
<section>
    {{#each posts as |post|}}
        {{> post_info post}}
    {{/each}}
    {{#each comments as |comment|}}
        {{> comments comment}}
    {{/each}}
</section>
{{else}}
<div>No posts available</div>
{{/if}}

<button type="submit" class="button" id="new-post-btn" href="/dashboard/new">+ New Post</button>

<script src="/js/new-post.js"></script>
