<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Login
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      <form class="form login-form">
        <div class="field">
          <label class="label">Username</label>
            <div class="control">
              <input class="input" id="username-login" type="text">
            </div>
        </div>
        <div class="field">
          <label class="label">Password</label>
            <div class="control">
              <input class="input" id="password-login" type="password">
            </div>
        </div>
        <div>
          <button class="button" type="submit">Login!</button>
        </div>
        <a class="signup-link" href="/signup">Sign up instead</a>
      </form>
    </div>
  </div>
</div>

<script src="./js/login.js"></script>
