<div class="card">
  <h2>Create New Post</h2>
   <form class="form new-post-form">
        <div class="field">
          <label class="label" id="post-title">Title</label>
            <div class="control">
              <input class="input" type="text">
            </div>
        </div>
        <div class="field">
          <label class="label" id="post-content">Content</label>
            <div class="control">
              <input class="input" type="text">
            </div>
        </div>
        <div>
          <button class="button" type="submit">Create!</button>
        </div>
      </form>
</div>

<script src="../public/js/new-post.js"></script>
