<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Sign Up
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      <form class="form">
        <div class="field">
          <label class="label" id="username-login">Username</label>
            <div class="control">
              <input class="input" type="text">
            </div>
        </div>
        <div class="field">
          <label class="label" id="password-login">Password</label>
            <div class="control">
              <input class="input" type="password">
            </div>
        </div>
        <div>
          <button class="button" type="submit">Sign Up!</button>
        </div>
       <a class="login-link" href="/login">Login instead</a>
      </form>
    </div>
  </div>
</div>

<script src="/js/signup.js"></script>